@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blood: #C00;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: #ededed;
  }
}

body {
  color: var(--blood);
  background: var(--background);
}

h1, h2, h3, p, div, a {
  color: var(--blood);
}
