@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blood: #000;
}

@media {
  :root {
    --background: #fff;
    --foreground: #000;
  }
}

body {
  color: var(--blood);
  background: var(--background);
}

h1, h2, h3, p, div, a {
  color: var(--blood);
}
